ul#flex-container {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
}
body{
    margin: 0%;
}
ul li {
    height: 464px;
    width: 25%;
    padding-top: 400px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    font-family: "Bookman Old Style";
    text-align: center;
    background-size: cover;
    background-position: center;
}

ul li:first-child {
    background-image: url("resources/ploegen.png");
    background-repeat: no-repeat;
}

ul li:nth-child(2) {
    background-image: url("resources/stadion.png");
    background-repeat: no-repeat;
}

ul li:nth-child(3) {
    background-image: url("resources/opstelling.png");
    background-repeat: no-repeat;
}

ul li:nth-child(4) {
    background-image: url("resources/beker.png");
    background-repeat: no-repeat;
    background-position: left;
}

ul li:hover {
    color: deepskyblue;
}