ul#flex-container {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
}
body{
    margin: 0%;
}
ul li {
    /*height: 464px;*/
    width: 25%;
    padding-top: 200px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    font-family: "Bookman Old Style";
    text-align: center;

    background-size: cover;
    background-position: center;

    justify-content: space-between;
    background-size: cover;

}

html, body, #container, #flex-container {
    height: 100%;
}

ul li:first-child {
    background-image: url("resources/ploegen.png");
    background-repeat: no-repeat;
    filter: grayscale(75%);
}

ul li:nth-child(2) {
    background-image: url("resources/stadion.png");
    background-repeat: no-repeat;
    filter: grayscale(75%);
}

ul li:nth-child(3) {
    background-image: url("resources/opstelling.png");
    filter: grayscale(75%);
    background-repeat: no-repeat;
}

ul li:nth-child(4) {
    background-image: url("resources/beker.png");
    background-repeat: no-repeat;

    background-position: left;
    filter: grayscale(75%);
}

ul li:hover {
    color: deepskyblue;
    filter: grayscale(0%);
}

.clock {
    border: solid white 3px;
    font-size: 3em;
    color: white;
    font-family: "Bookman Old Style";
    position: absolute;
    z-index: 100;
    bottom: 0;
    margin: 0%;
    width: 30%;
    left: 35%;
    background-color: black;
}